:root {
  --dark-purple: #440F51;
  --color-purple: #6C0287;
  --color-violet: #840AA3;
  --light-purple: #CD06FF;
  --color-lilac: #640AA3;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-light: #EADEED;
}
