.contacts {
  padding: 50px 0 10px;
  background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.contacts__row {
  display: flex;
  justify-content: space-between;
}

.contacts__row:not(:last-child) {
  margin-bottom: 149px;
}

.wrap-address {
  font-size: 24px;
  line-height: 1.16667;
  font-weight: 700;
  margin-bottom: 38px;
  font-style: normal;
}

.wrap-address__address,
.wrap-address__phone,
.wrap-address__email {
  display: flex;
  align-items: center;
  gap: 26px;
}

.wrap-address__address {
  margin-bottom: 46px;
}

.wrap-address__address:before,
.wrap-address__phone:before,
.wrap-address__email:before {
  content: "";
  width: 35px;
  height: 32px;
}

.wrap-address__address:before {
  background-image: url("../halls/img/icon-address.svg");
}

.wrap-address__link {
  display: flex;
  align-items: center;
  color: var(--color-white);
  text-decoration: none;
  transition: color .6s ease-in-out;
}

.wrap-address__link:hover {
  color: var(--light-purple);
}

.wrap-address__phone {
  margin-bottom: 11px;
}

.wrap-address__phone:before {
  background-image: url("../halls/img/icon-phone.svg");
}

.wrap-address__email:before {
  width: 36px;
  height: 24px;
  background-image: url("../halls/img/icon-mail.svg");
}

.address {
  display: flex;
  align-items: center;
  max-width: 250px;
}

.social {
  gap: 26px;
}

.social__link {
  color: var(--color-white);
  transition: all .6s ease-in-out;
}

.social__link:hover {
  color: var(--color-light);
}

.social__link:focus {
  display: block;
  color: var(--color-light);
  outline-color: var(--light-purple);
  outline-width: 1px;
  outline-style: solid;
  outline-offset: 1px;
}

.social__link:active {
  color: var(--light-purple);
}

.social__image {
  display: block;
}

.contacts__paragraph {
  font-size: 14px;
  line-height: 1.142857;
}

.contacts__paragraph:not(:last-child) {
  margin-bottom: 6px;
}

.contacts__paragraph_align_right {
  text-align: right;
}

.contacts__image {
  display: block;
  max-height: 274px;
}

.contacts__link:hover {
  color: var(--light-purple);
  transition: all .6s ease-in-out;
}

@media(max-width: 1124px) {
  .contacts {
    padding-top: 16px;
  }

  .contacts__row:not(:last-child) {
    margin-bottom: 92px;
  }

  .wrap-address {
    margin-bottom: 40px;
  }

  .wrap-address__address,
  .wrap-address__phone,
  .wrap-address__email {
    gap: 13px;
  }

  .wrap-address__address:before,
  .wrap-address__phone:before,
  .wrap-address__email:before {
    content: "";
    width: 26px;
    height: 26px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .wrap-address__phone {
    margin-bottom: 4px;
  }

  .contacts__image {
    width: 542px;
    height: 274px;
    object-fit: cover;
  }

  .social__image {
    width: 40px;
    height: 40px;
  }
}

@media(max-width: 1023px) {
  .contacts {
    padding-top: 26px;
  }

  .contacts__row:not(:last-child) {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin-bottom: 75px;
  }

  .wrap-address {
    margin-bottom: 28px;
  }

  .wrap-address__address {
    justify-content: center;
    text-align: center;
    position: relative;
    max-width: 215px;
    margin: 0 auto 35px;
  }

  .wrap-address__address:before {
    position: absolute;
    left: 19px;
    top: 0;
  }

  .wrap-address__phone,
  .wrap-address__email {
    justify-content: center;
    text-align: center;
    margin-bottom: 27px;

  }

  .contacts__image {
    width: 688px;
    height: 337px;
    max-height: 337px;
    margin: 0 auto;
  }

  .social {
    display: flex;
    justify-content: center;
  }
}

@media(max-width: 500px) {
  .contacts {
    padding-top: 12px;
  }

  .contacts__row {
    flex-direction: column;
    align-items: center;
    gap: 19px;
  }

  .contacts__row:not(:last-child) {
    gap: 31px;
    margin-bottom: 63px;
  }

  .wrap-address {
    font-size: 14px;
    line-height: 1.2857;
    margin-bottom: 10px;
  }

  .address,
  .wrap-address__address {
    max-width: 150px
  }

  .wrap-address__address,
  .wrap-address__phone,
  .wrap-address__email {
    gap: 5px;
    margin-bottom: 10px;
  }

  .wrap-address__address:before,
  .wrap-address__phone:before,
  .wrap-address__email:before {
    width: 20px;
    height: 20px;
  }

  .social {
    gap: 20px;
  }

  .social__image {
    width: 30px;
    height: 30px;
  }

  .contacts__paragraph_align_right {
    text-align: center;
  }

  .contacts__image {
    height: 194px;
    max-height: 194px;
  }

  .contacts__paragraph {
    font-size: 12px;
  }
}
