.contacts {
  padding: 50px 0 10px;
  background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.contacts__row {
  display: flex;
  justify-content: space-between;
}

.contacts__row:not(:last-child) {
  margin-bottom: 156px;
}

.wrap-address {
  font-size: 24px;
  line-height: 1.16667;
  margin-bottom: 39px;
  font-style: normal;
}

.wrap-address__address,
.wrap-address__phone,
.wrap-address__email {
  display: flex;
  align-items: center;
  gap: 31px;
}

.wrap-address__address {
  margin-bottom: 38px;
}

.wrap-address__address:before,
.wrap-address__phone:before,
.wrap-address__email:before {
  content: "";
  width: 35px;
  height: 32px;
}

.wrap-address__address:before {
  background-image: url("../halls/img/icon-address.svg");
}

.wrap-address__link {
  display: flex;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
}

.wrap-address__phone {
  margin-bottom: 11px;
}

.wrap-address__phone:before {
  background-image: url("../halls/img/icon-phone.svg");
}

.wrap-address__email:before {
  width: 36px;
  height: 24px;
  background-image: url("../halls/img/icon-mail.svg");
}

.address {
  display: flex;
  align-items: center;
  max-width: 250px;
}

.social {
  gap: 22px;
}

.navigation__link {
  color: #ffffff;
  transition: all .6s ease-in-out;
}

.navigation__link:hover {
  color: #EADEED;
}

.navigation__link:focus {
  display: block;
  color: #EADEED;
  outline-color: #CD06FF;
  outline-width: 1px;
  outline-style: solid;
  outline-offset: 1px;
}

.navigation__link:active {
  color: #CD06FF;
}

.navigation__image {
  display: block;
}

.contacts__paragraph {
  font-size: 14px;
  line-height: 1.142857;
}

.contacts__paragraph:not(:last-child) {
  margin-bottom: 6px;
}

.contacts__paragraph_align_right {
  text-align: right;
}

.contacts__image {
  display: block;
}
