.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .6);
  z-index: 1;
  display: none;
}

.overlay_visible {
  display: flex;
  z-index: 100;
}

.modal {
  background: var(--dark-purple);
  padding: 60px 0 80px;
  z-index: 109;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -250%);
  width: 100%;
  max-width: 600px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  /*display: none;*/
  /*visibility: hidden;*/
  transition: all .6s ease-in-out;
}

.modal_visible {
  display: flex;
  transform: translate(-50%, -50%);
  /*visibility: visible;*/
}
.modal__container {
  width: 300px;
  padding: 0;
  position: relative;
  margin: 0 auto;
}

.modal__close {
  position: absolute;
  right: 15px;
  top: 15px;
  transition: all .6s ease-in-out;
}

.modal__close:hover {
  color: var(--light-purple);
}

.modal__close:focus {
  display: block;
  color: var(--color-violet);
  outline-color: var(--light-purple);
  outline-width: 1px;
  outline-style: solid;
  outline-offset: 1px;
}

.modal__image {
  display: block;
}

.modal__title {
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--color-white);
  margin-bottom: 40px;
  text-align: center;
}
.request-call {}
.request-call__fieldset {
  border: 0;
  padding: 0;
}
.request-call__item {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto 40px;
}

.request-call__label {
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: var(--color-white);
  margin-bottom: 6px;
}

.request-call__input {
  background: var(--color-white);
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #211E1E;
  padding: 10px 18px;
  border: 2px solid var(--color-white);
}

.request-call__input:focus,
.request-call__input:active {
  outline: none;
  border: 2px solid var(--light-purple);
}

.button {
  display: flex;
  background-color: var(--color-white);
  border: 3px solid var(--color-white);
  border-radius: 10px;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  justify-content: center;
  color: var(--color-purple);
  padding: 13px 20px;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  outline: none;
  transition: background-color 1s ease-in-out, border-color .6s ease-in-out;
  box-shadow: 0 0 20px var(--color-white);
}

.button:hover {
  background-color: var(--color-light);
  border-color: var(--color-purple);
}

.button:focus {
  background-color: var(--color-white);
  border-color: var(--color-purple);
}

.button:active {
  background-color: var(--color-light);
  border-color: var(--color-light);
}


@media(max-width: 450px) {
  .modal__image {
    width: 30px;
    height: 30px;
  }

  .modal__container {
    width: 240px;
  }

  .request-call__item {
    width: 200px;
  }

  .button {
    font-size: 18px;
    max-width: 240px;
  }
}
@media (max-width: 1000px) and (orientation:landscape) {
  .modal_visible {
    top: 10px;
    transform: translate(-50%, 0%);
    max-height: calc(100vh - 20px);
  }

  .modal__container {
    width: 100%;
    height: calc(100vh - 100px);
    overflow-y: auto;
    padding-bottom: 30px;
  }
}
