.halls {
  padding-bottom: 100px;
}

.halls__title {
  margin-bottom: 60px;
}

.list-halls {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.list-halls__item {
  display: flex;
  align-items: center;
  width: 580px;
  height: 349px;
  justify-content: center;
  font-weight: 700;
  font-size: 70px;
  line-height: 1.143;
  text-transform: uppercase;
}

.list-halls__item_type_vibes {
  background-image: url("img/hall-1.jpg");
}

.list-halls__item_type_star {
  background-image: url("img/hall-2.jpg");
}

.list-halls__item_type_west {
  background-image: url("img/hall-3.jpg");
}

.list-halls__item_type_neon {
  background-image: url("img/hall-4.jpg");
}

.list-halls__name {
  display: inline-block;
  max-width: 252px;
  text-align: center;
}
