.all {
  padding-bottom: 122px;
}

.all__title {
  max-width: 850px;
  margin: 0 auto 40px;
}

.all__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 20px;
}

.all__item {
  display: flex;
  align-items: flex-end;
  width: 32%;
  max-width: 380px;
  height: 228px;
  padding: 6px 40px;
  font-weight: 700;
  transition: transform 0.8s ease-in-out;
  background-size: cover;
  background-position: center;
}

.all__item:nth-child(3n+2) {
  transform: translateY(77px);
}

.all__item:hover {
  transform: scale(1.1);
}

.all__item:nth-child(3n+2):hover {
  transform: translateY(50px) scale(1.1);
}

.all__descr {
  display: flex;
  min-height: 56px;
}

.all__item_vr {
  background-image: url("img/vr.jpg");
}

.all__item_audio {
  background-image: url("img/audio.jpg");
}

.all__item_micro {
  background-image: url("img/micro.jpg");
}

.all__item_game {
  background-image: url("img/game.jpg");
}

.all__item_netflix {
  background-image: url("img/netflix.jpg");
}

.all__item_sony {
  background-image: url("img/sony.jpg");
}

@media(max-width: 1124px) {
  .all {
    padding-bottom: 88px;
    padding-top: 40px;
  }

  .all__title {
    max-width: 650px;
    margin-bottom: 36px;
  }

  .all__list {
    gap: 29px 20px;
  }

  .all__item {
    width: 287px;
    height: 172px;
    padding: 5px 20px;
  }

  .all__item:nth-child(3n+2) {
    transform: translateY(53px);
  }

  .all__descr {
    font-size: 20px;
    line-height: 1.4;
  }
}

@media(max-width: 1023px) {
  .all {
    padding-bottom: 30px;
  }

  .all__title {
    max-width: 450px;
    margin-bottom: 30px;
  }

  .all__list {
    justify-content: center;
    gap: 20px;
  }

  .all__item {
    width: 48%;
    height: 200px;
  }

  .all__item:nth-child(3n+2) {
    transform: translateY(0);
  }
}

@media(max-width: 600px) {
  .all__item {
    width: 45%;
    height: 140px;
  }

  .all__descr {
    font-size: 16px;
  }
}

@media(max-width: 480px) {
  .all {
    padding-top: 30px;
    padding-bottom: 15px;
  }

  .all__title {
    margin-bottom: 19px;
  }

  .all__list {
    gap: 10px;
  }

  .all__item {
    max-width: 135px;
    height: 75px;
    padding: 10px 10px 3px;
  }

  .all__descr {
    font-size: 10px;
    line-height: 1.4;
    min-height: 42px;
  }
}
