.header {
  padding: 30px 0 25px;
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
}

.navigation__list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navigation__link {
  font-size: 22px;
  line-height: 2.27272727;
  text-transform: uppercase;
  color: var(--color-white);
  transition: color .6s ease-in-out;
}

.navigation__link:hover {
  color: var(--light-purple);
}

.header__button {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.36363636;
  text-transform: uppercase;
  color: var(--color-white);
  background: none;
  padding: 9px 32px 10px;
  border: 3px solid var(--light-purple);
  border-radius: 10px;
  outline: none;
  transition-duration: .6s;
}

.header__button:hover {
  background: var(--color-purple);
  border-color: var(--color-purple);
}

.header__button:focus {
  background: var(--color-purple);
  border-color: var(--color-purple);
}

.header__button:active {
  background: var(--color-lilac);
  border-color: var(--color-lilac);
}
