.header {
  padding: 30px 0 25px;
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
}

.menu-button {
  font-size: 0;
  width: 54px;
  height: 29px;
  position: relative;
  align-items: center;
  display: none;
}

.menu-button:before {
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  background: var(--color-purple);
  border-radius: 2px;
  position: absolute;
  top: 0;
}

.menu-button:after {
  content: "";
  display: block;
  height: 5px;
  width: 31px;
  background: var(--color-purple);
  border-radius: 2px;
  position: absolute;
  bottom: 0;
}

.menu-button__line {
  display: block;
  height: 5px;
  width: 100%;
  background: var(--color-purple);
  border-radius: 2px;
}

.navigation__list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navigation__link {
  font-size: 22px;
  line-height: 2.27272727;
  text-transform: uppercase;
  color: var(--color-white);
  transition: color .6s ease-in-out;
}

.navigation__link:hover {
  color: var(--light-purple);
}

.header__button {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.36363636;
  text-transform: uppercase;
  color: var(--color-white);
  background: none;
  padding: 9px 29px 10px;
  border: 3px solid var(--light-purple);
  border-radius: 10px;
  outline: none;
  transition-duration: .6s;
}

.header__button:hover {
  background: var(--color-purple);
  border-color: var(--color-purple);
}

.header__button:focus {
  background: var(--color-purple);
  border-color: var(--color-purple);
}

.header__button:active {
  background: var(--color-lilac);
  border-color: var(--color-lilac);
}

.navigation__item_last {
  display: none;
}

.header__button_nav {
  display: none;
}

@media(max-width: 1124px) {
  .header {
    padding: 30px 0 10px;
  }

  .header__logo {
    max-width: 87px;
  }

  .navigation__list {
    gap: 20px;
  }

  .navigation__link {
    font-size: 18px;
  }

  .header__button {
    font-size: 18px;
    padding: 8px 26px 7px;
  }
}

@media(max-width: 1023px) {
  .header {
    padding-top: 33px;
  }

  .header__row {
    align-items: flex-end;
  }

  .navigation {
    order: -1;
  }

  .header__logo {
    z-index: 100;
  }

  .menu-button {
    display: flex;
    z-index: 100;
  }

  .menu-button:before,
  .menu-button span,
  .menu-button:after {
    transition: 0.6s ease-in-out;
  }

  .menu-button_active:before {
    transform: rotate(45deg);
    margin-top: 11px;
  }

  .menu-button_active span {
    transform: rotate(-45deg);
    margin-top: -4px;
  }

  .menu-button_active:after {
    display: none;
  }

  .navigation__list {
    position: fixed;
    left: -1500px;
  }

  .navigation__list_active {
    display: block;
    position: absolute;
    z-index: 99;
    padding: 107px 0 59px;
    top: 0;
    left: -100%;
    width: calc(100% - 1px);
    right: 0;
    background: var(--color-grey);
    justify-content: center;
  }

  .navigation__link {
    display: flex;
    justify-content: center;
  }

  .navigation__link:hover {
    background-color: var(--color-purple);
    color: var(--color-white);
  }

  .navigation__link:active {
    background-color: var(--light-purple);
  }

  .header__button {
    padding: 7px 21px;
    z-index: 100;
  }
}

@media(max-width: 700px) {
  .header__button {
    display: none;
  }

  .navigation__item:nth-last-child(2) {
    margin-bottom: 28px;
  }

  .navigation__item_last {
    display: flex;
    justify-content: center;
  }

  .header__button_nav {
    display: block;
    margin: 0 auto;
  }
}

@media(max-width: 480px) {
  .header {
    padding-top: 22px;
    padding-bottom: 0;
  }

  .header__logo {
    max-width: 66px;
  }

  .menu-button {
    width: 39px;
    height: 21px;
  }

  .menu-button__line {
    height: 3px;
  }

  .menu-button:before,
  .menu-button:after {
    height: 3px;
  }

  .menu-button_active:before {
    margin-top: 8px;
  }

  .navigation__list_active {
    padding-top: 87px;
  }
}
