.promo {
  padding-top: 25px;
}

.promo__container {
  min-height: 823px;
  background: url("img/promo.png") no-repeat right 30px bottom / auto 762px;
  position: relative;
}

.promo__title {
  font-weight: 900;
  font-size: 150px;
  line-height: 1;
  letter-spacing: -0.1em;
  margin-bottom: 0;
}

.promo__subtitle {
  font-size: 28px;
  line-height: 1.785714;
  margin: 0 0 30px 100px;
}

.information {}

.information__row {
  display: flex;
  gap: 43px;
  margin-bottom: 150px;
}

.information__item {
  display: flex;
  flex-basis: 161px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.information__bold {
  font-weight: 900;
  color: #CD06FF;
}

.information__bold_size_100 {
  font-size: 100px;
  line-height: 1.41;
}

.information__bold_size_75 {
  font-size: 75px;
  line-height: 1.413;
  font-variant: small-caps;
}

.information__text {
  font-size: 30px;
  line-height: 1.133333;
  text-align: center;
  color: #FFFFFF;
}

.information__button {
  display: inline-flex;
  background-color: var(--color-purple);
  box-shadow: 0 0 20px var(--color-purple);
  border-radius: 10px;
}

.information__link {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1538461;
  text-transform: uppercase;
  color: var(--color-white);
  padding: 25px 69px;
  background-color: var(--color-purple);
  border-radius: 10px;
  outline: none;
  transition-duration: .6s;
}

.information__link:hover {
  background-color: var(--color-violet);
}

.information__link:focus {
  background-color: var(--color-violet);
}

.information__link:active {
  background-color: var(--color-lilac);
}

.promo__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 97px;
  height: 97px;
  border-radius: 50%;
  border: 1px solid var(--color-white);
  background: url("img/arrow-bot.svg") no-repeat 50% 28px;
  position: absolute;
  bottom: 90px;
  left: 50%;
  transform: translate(-50%, 0);
  transition-duration: .6s;
}

.promo__arrow:focus {
  outline-color: var(--light-purple);
  outline-width: 1px;
  outline-style: solid;
  outline-offset: 1px;
  border: 0;
  border-radius: 0;
}

.promo__arrow:focus:before {
  content: "";
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-white);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.promo__arrow:hover {
  background: url("img/arrow-bot-hover.svg") var(--color-white) no-repeat 50% 28px;
  border-radius: 50%;
}

.promo__arrow:active {
  background: url("img/arrow-bot.svg") var(--light-purple) no-repeat 50% 28px;
  border-color: var(--light-purple);
  border-radius: 50%;
}

