.booking {
  background-color: var(--dark-purple);
  padding: 80px 0;
}

.form-booking__fieldset {
  border: 0;
  padding: 0;
  margin: 0 0 60px;
}

.form-booking__legend {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin: 0 auto 40px;
}

.form-booking__label {
  display: flex;
}

.form-booking__input {
  width: 25px;
  height: 25px;
}

.selection {
  display: flex;
  justify-content: space-between;
}

.selection__text {
  background-color: var(--color-white);
  border-radius: 8px;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-black);
  border: 3px solid var(--color-white);
  padding: 5px 15px 4px;
  cursor: pointer;
  transition: background-color 1s ease-in-out, border .6s ease-in-out, color 1s ease-in-out;
}

.selection__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  transition-duration: .6s;
}

.selection__input:hover + .selection__text {
  background-color: var(--color-light);
  border: 3px solid var(--color-lilac);
}

.selection__input:focus + .selection__text {
  border: 3px solid var(--color-lilac);
}

.selection__input:active + .selection__text {
  background-color: var(--color-purple);
  border: 3px solid var(--color-white);
  color: var(--color-white);
}

.selection__input:checked + .selection__text {
  background-color: var(--color-purple);
  border: 3px solid var(--color-white);
  color: var(--color-white);
}

.selection__input:checked:focus + .selection__text{
  background-color: var(--color-purple);
  border: 3px solid var(--color-lilac);
  color: var(--color-white);
}

.set {
  display: flex;
  justify-content: space-between;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  gap: 100px;
}

.set__item {
  display: flex;
  flex-direction: column;
  flex: 0 0 300px;
  border: 0;
  padding: 0;
}

.set__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
}

.set__row {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

.set__row:last-child {
  margin-bottom: 0;
}

.set__label {
  font-size: 22px;
  line-height: 1.13636363;
  cursor: pointer;
}

.set__input {
  width: 25px;
  height: 25px;
  transition-duration: .6s;
}

.set__input:focus,
.set__input:active {
  outline-color: var(--light-purple);
  outline-width: 1px;
  outline-style: solid;
  outline-offset: 2px;
}

.choice {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.choice__item {
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
}

.choice__label {
  font-size: 14px;
  line-height: 1.14286;
  margin-bottom: 14px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.choice__input {
  padding: 9px 18px;
  font-size: 18px;
  line-height: 1.555556;
  border: 2px solid var(--color-white);
  transition-duration: .6s;
}

.choice__input:focus,
.choice__input:active {
  outline: none;
  border: 2px solid var(--light-purple);
}

.date-time {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.date-time__label {
  width: 134px;
  display: flex;
  flex-direction: column;
}

.form-booking__submit {
  display: flex;
  background-color: var(--color-white);
  border: 3px solid var(--color-white);
  border-radius: 10px;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: var(--color-purple);
  padding: 13px 50px;
  margin-left: auto;
  margin-right: 90px;
  outline: none;
  transition: background-color 1s ease-in-out, border-color .6s ease-in-out;
  box-shadow: 0 0 20px #fff;
}

.form-booking__submit:hover {
  background-color: var(--color-light);
  border-color: var(--color-purple);
}

.form-booking__submit:focus {
  background-color: var(--color-white);
  border-color: var(--color-purple);
}

.form-booking__submit:active {
  background-color: var(--color-light);
  border-color: var(--color-light);
}

@media(max-width: 1124px) {
  .booking {
    padding: 60px 0;
  }

  .form-booking__legend {
    margin-bottom: 26px;
  }

  .selection__text {
    padding: 7px 20px 7px;
    font-size: 20px;
    line-height: 1.2;
  }

  .set {
    gap: 40px;
  }

  .set__item {
    flex: 0 0 280px;
  }

  .choice {
    gap: 43px;
    margin-bottom: 50px;
  }

  .form-booking__submit {
    font-size: 18px;
    line-height: 24px;
    padding: 10px 43px;
    margin-right: 0;
  }
}

@media(max-width: 1024px) {
  .booking {
    padding: 50px 0;
  }

  .booking__title {
    margin-bottom: 40px;
  }

  .form-booking {
    max-width: 698px;
    margin: 0 auto;
  }

  .form-booking__legend {
    margin-bottom: 30px;
  }

  .selection {
    gap: 20px;
    margin-bottom: 50px;
    flex-wrap: wrap;
  }

  .selection__text {
    padding: 7px 20px 6px;
    font-size: 16px;
    width: 150px;
  }

  .set {
    flex-wrap: wrap;
    justify-content: left;
    margin: 0 auto 50px;
    max-width: 688px;
    gap: 32px;
  }

  .set__item {
    flex: 0 0 301px
  }

  .choice {
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 688px;
    margin: 0 auto 34px;
    gap: 0;
  }

  .choice__item {
    flex-direction: inherit;
    flex-basis: 100%;
    justify-content: space-between;
  }

  .form-booking__submit {
    font-size: 22px;
    line-height: 28px;
    padding: 13px 47px;
    margin-right: 4px;
  }

  .choice__input {
    width: 300px;
  }

  .date-time__input {
    width: 134px;
  }
}

@media(max-width: 700px) {
  .selection {
    max-width: 320px;
    margin: 0 auto 30px;
    justify-content: center;
  }

  .choice__item {
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }

  .form-booking__submit {
    margin: 0 auto;
  }
}
