.booking {
  background-color: #440F51;
  padding: 80px 0;
}

.form-booking__fieldset {
  border: 0;
  padding: 0;
  margin: 0 0 60px;
}

.form-booking__legend {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin: 0 auto 40px;
}

.form-booking__label {
  display: flex;
}

.form-booking__input {
  width: 25px;
  height: 25px;
}

.selection {
  display: flex;
  justify-content: space-between;
}

.selection__text {
  background-color: #FFFFFF;
  border-radius: 8px;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  border: 3px solid #ffffff;
  padding: 5px 15px 4px;
  cursor: pointer;
}

.selection__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.selection__input:hover + .selection__text {
  background-color: #EADEED;
  border: 3px solid #640AA3;
}

.selection__input:focus + .selection__text {
  border: 3px solid #640AA3;
}

.selection__input:active + .selection__text {
  background-color: #6C0287;
  border: 3px solid #FFFFFF;
  color: #ffffff;
}

.selection__input:checked + .selection__text {
  background-color: #6C0287;
  border: 3px solid #FFFFFF;
  color: #ffffff;
}

.selection__input:checked:focus + .selection__text{
  background-color: #6C0287;
  border: 3px solid #640AA3;
  color: #ffffff;
}

.set {
  display: flex;
  justify-content: space-between;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  gap: 100px;
}

.set__item {
  display: flex;
  flex-direction: column;
  flex: 0 0 300px;
  border: 0;
  padding: 0;
}

.set__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
}

.set__row {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

.set__row:last-child {
  margin-bottom: 0;
}

.set__label {
  font-size: 22px;
  line-height: 1.13636363;
  cursor: pointer;
}

.set__input {
  width: 25px;
  height: 25px;
}

.set__input:focus,
.set__input:active {
  outline-color: #CD06FF;
  outline-width: 1px;
  outline-style: solid;
  outline-offset: 2px;
}

.choice {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.choice__item {
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
}

.choice__label {
  font-size: 14px;
  line-height: 1.14286;
  margin-bottom: 14px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.choice__input {
  padding: 9px 18px;
  font-size: 18px;
  line-height: 1.555556;
  border: 2px solid #fff;
}

.choice__input:focus,
.choice__input:active {
  outline: none;
  border: 2px solid #CD06FF;
}

.date-time {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.date-time__label {
  width: 134px;
  display: flex;
  flex-direction: column;
}

.form-booking__submit {
  display: flex;
  background-color: #FFFFFF;
  border: 3px solid #fff;
  border-radius: 10px;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #6C0287;
  padding: 13px 50px;
  margin-left: auto;
  margin-right: 90px;
  outline: none;
}
.form-booking__submit:hover {
  background-color: #EADEED;
  border-color: #6C0287;
}

.form-booking__submit:focus {
  border-color: #6C0287;
}

.form-booking__submit:active {
  border-color: #EADEED;
}
