.questions__item {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.166667;
  padding: 21px 70px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.questions__item:not(:last-child) {
  margin-bottom: 20px;
}

.questions__item:nth-child(odd) {
  background-color: var(--color-white);
  color: var(--color-black-light);
}

.questions__item:nth-child(even) {
  background-color: var(--dark-purple);
  color: var(--color-white);
}

.questions__item:after {
  content: "";
  display: inline-block;
  width: 46px;
  height: 46px;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid transparent;
  border-radius: 50%;
  transition-duration: .6s;
}

.questions__item:nth-child(odd):after {
  background-image: url("img/plus.svg");
  border-color: var(--dark-purple);
}

.questions__item:nth-child(even):after {
  background-image: url("img/plus-white.svg");
  border-color: var(--color-white);
}

.questions__item:nth-child(odd):hover:after {
  background: url("img/plus-white.svg") var(--dark-purple) no-repeat center;
}

.questions__item:nth-child(even):hover:after {
  background: url("img/plus.svg") var(--color-white) no-repeat center;
}

.questions__item:nth-child(odd):active:after {
  background: url("img/minus-white.svg") var(--dark-purple) no-repeat center;
}

.questions__item:nth-child(even):active:after {
  background: url("img/minus.svg") var(--color-white) no-repeat center;
}

@media(max-width: 1124px) {
  .questions__item:last-child {
    display: none;
  }

  .questions__item:nth-last-child(2) {
    margin-bottom: 0;
  }

  .questions__item {
    font-size: 20px;
    line-height: 1.2;
    padding: 12px 20px 12px 30px;
  }

  .questions__item:after {
    border-width: 1px;
  }

  .questions__item:nth-child(even) {
    background-color: var(--color-white);
    color: var(--color-black-light);
  }

  .questions__item:nth-child(even):after {
    background-image: url("img/plus.svg");
    border-color: var(--dark-purple);
  }

  .questions__item:nth-child(even):hover:after {
    background: url("img/plus-white.svg") var(--dark-purple) no-repeat center;
  }
  .questions__item:nth-child(even):active:after {
    background: url("img/minus-white.svg") var(--dark-purple) no-repeat center;
  }
}

@media(max-width: 1024px) {
  .questions__item {
    font-size: 18px;
    line-height: 1.333;
    padding: 12px 65px 12px 54px
  }
}
