.about {
  padding-top: 100px;
  padding-bottom: 52px;
}

.about__info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 280px 315px;
  gap: 0 79px;
}

.about__images {
  min-width: 600px;
  display: flex;
  flex-wrap: wrap;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.about__image_1 {
  width: 300px;
  height: 206px;
  object-fit: cover;
}

.about__image_2 {
  width: 300px;
  height: 206px;
  object-fit: cover;
}

.about__image_3 {
  width: 164px;
  height: 224px;
  object-fit: cover;
}

.about__image_4 {
  width: 180px;
  height: 224px;
  object-fit: cover;
}

.about__image_5 {
  width: 256px;
  height: 224px;
  object-fit: cover;
}

.about__image_6 {
  width: 380px;
  height: 166px;
  object-fit: cover;
}

.about__image_7 {
  width: 220px;
  height: 166px;
  object-fit: cover;
}

.about__image {
  display: block;
}

.about__description {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.quote {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin: 0;
}

.quote__paragraph {
  text-transform: uppercase;
  margin-bottom: 28px;
  text-align: left;
  padding-left: 32px;
  position: relative;
  font-size: 44px;
  line-height: 1.136363;
}

.quote__name {
  display: block;
}

.quote__paragraph:before {
  content: '“ ';
  font-weight: 900;
  color: var(--color-purple);
  position: absolute;
  left: 0;
  top: -8px;
}

.quote__paragraph:after {
  content: ' ”';
  font-weight: 900;
  color: var(--color-purple);
}

.author {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  font-size: 20px;
  line-height: 1.4;
  font-style: normal;
}

.author__avatar {
  width: 80px;
  height: 80px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}

.author__info {
  max-width: 280px;
  text-align: left;
}

.author__cite {
  font-style: normal;
}

@media(max-width: 1300px) {
  .about__info {
    gap: 0 39px;
  }
}

@media(max-width: 1124px) {
  .about {
    padding-top: 72px;
    padding-bottom: 51px;
  }

  .about__info {
    grid-template-rows: 232px 187px;
    gap: 0 19px;
  }

  .about__images {
    min-width: 420px;
  }

  .about__image_1 {
    width: 210px;
    height: 144px;
  }

  .about__image_2 {
    width: 210px;
    height: 144px;
  }

  .about__image_3 {
    width: 115px;
    height: 157px;
  }

  .about__image_4 {
    width: 126px;
    height: 157px;
  }

  .about__image_5 {
    width: 179px;
    height: 157px;
  }

  .about__image_6 {
    width: 266px;
    height: 116px;
  }

  .about__image_7 {
    width: 154px;
    height: 116px;
  }

  .about__description {
    margin-bottom: 26px;
  }

  .quote__paragraph {
    font-size: 30px;
    line-height: 1.2;
    padding-left: 25px;
    margin-bottom: 21px;
    max-width: 429px;
  }

  .quote__name {
    display: inline-block;
  }

  .author {
    font-size: 18px;
    gap: 35px;
  }

  .author__avatar {
    width: 70px;
    height: 70px;
  }

  .author__info {
    max-width: 225px;
  }
}

@media(max-width: 1023px) {
  .about {
    padding-bottom: 19px;
    padding-top: 59px;
  }

  .about__info {
    grid-template-columns: 382px auto;
    grid-template-rows: 232px 187px;
    gap: 0 28px;
  }

  .about__images {
    min-width: 382px;
  }

  .about__description {
    margin-bottom: 0;
  }

  .about__image_1,
  .about__image_2 {
    width: 191px;
    height: 131px;
  }

  .about__image_3 {
    width: 104px;
    height: 143px;
  }

  .about__image_4 {
    width: 115px;
    height: 143px;
  }

  .about__image_5 {
    width: 163px;
    height: 143px;
  }

  .about__image_6 {
    width: 242px;
    height: 106px;
  }

  .about__image_7 {
    width: 140px;
    height: 106px;
  }

  .author {
    gap: 26px;
  }

  .quote__paragraph {
    padding-left: 22px;
    margin-bottom: 23px;
    max-width: 80%;
  }
}

@media(max-width: 850px) {
  .about__info {
    grid-template-columns: 382px auto;
    grid-template-rows: 380px 184px;
    gap: 41px 28px;
  }

  .about__images {
    grid-row: 1 / 2;
    min-width: 382px;
    max-width: 382px;
  }

  .about__description {
    align-self: center;
  }

  .quote {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
}

@media(max-width: 700px) {
  .about {
    padding-top: 30px;
  }

  .about__info {
    display: flex;
    flex-direction: column;
  }

  .about__description {
    order: -1;
    margin-bottom: 11px;
  }

  .about__images {
    margin: 0 auto;
  }

  .quote__paragraph {
    font-size: 18px;
    line-height: 1.44;
    max-width: 350px;
  }

  .author {
    justify-content: flex-start;
    gap: 11px;
  }

  .author__info {
    max-width: 200px;
    font-size: 12px;
    line-height: 1.33;
  }
}

@media(max-width: 480px) {
  .about {
    padding-bottom: 17px;
  }

  .about__images {
    min-width: 280px;
    max-width: 280px;
    margin-bottom: 22px;
  }

  .about__image_1,
  .about__image_2 {
    width: 140px;
    height: 97px;
  }

  .about__image_3 {
    width: 77px;
    height: 105px;
  }

  .about__image_4 {
    width: 84px;
    height: 105px;
  }

  .about__image_5 {
    width: 119px;
    height: 105px;
  }

  .about__image_6 {
    width: 177px;
    height: 78px;
  }

  .about__image_7 {
    width: 103px;
    height: 78px;
  }

  .about__info {
    gap: 0 28px;
  }

  .author__avatar {
    width: 56px;
    height: 56px;
  }

  .quote__paragraph {
    padding-left: 16px;
    margin-bottom: 8px;
  }
}
