.about__info {
  display: flex;
  align-items: flex-start;
  gap: 74px;
}

.about__images {
  min-width: 600px;
}

.about__image {
  display: block;
}

.about__text {
  max-width: 500px;
}

.about__description {
  margin-bottom: 48px;
}

.quote {
  margin: 0;
}

.quote__paragraph {
  text-transform: uppercase;
  margin-bottom: 39px;
  text-align: left;
  padding-left: 40px;
  position: relative;
  font-size: 44px;
  line-height: 1.136363;
}

.quote__name {
  display: block;
}

.quote__paragraph:before {
  content: '“ ';
  font-weight: 900;
  color: #6C0287;
  position: absolute;
  left: 0;
}

.quote__paragraph:after {
  content: ' ”';
  font-weight: 900;
  color: #6C0287;
}

.author {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  font-size: 20px;
  line-height: 1.4;
  font-style: normal;
}

.author__avatar {
  width: 80px;
  height: 80px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}

.author__info {
  max-width: 289px;
  text-align: left;
}

.author__cite {
  font-style: normal;
}
