.reviews__container {
  max-width: 1040px;
}

.reviews__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.reviews__item {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
  justify-content: center;
  position: relative;
}

.avatar:before {
  content: "";
  width: 280px;
  height: 280px;
  border-radius: 50%;
  left: 0;
  top: 0;
  position: absolute;
  background: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0) 0%, rgba(108, 2, 135, 0.5) 100%);
}

.avatar__image {
  width: 280px;
  height: 280px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}

.avatar__image_position_40 {
  object-position: 0 -40px;
}

.avatar__image_position_center {
  object-position: 50%;
}

.reviews__text {
  max-width: 680px;
  padding: 50px 0 0 0;
}
